.help-container {
  margin-top: 5rem;
  min-height: 100vh;
  min-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.help-header {
  background-color: #e0ddda;
  color: rgb(0, 0, 0);
  padding-bottom: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.help-header-inner {
  display: flex;
  flex-direction: column;
  padding-top: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 80%;
  margin: 0 auto;
}

.help-header-inner h1 {
  margin-top: 1.25rem;
  font-weight: 800;
  font-size: 1.875rem;
}

.help-header-inner h4 {
  padding-bottom: 3rem;
  font-weight: 300;
  font-size: 1rem;
}

.help-content-wrapper {
  display: flex;
  background-color: white;
  color: #545a79;
  padding: 2.5rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin: 0 auto;
}

.help-sidebar {
  padding-top: 1.25rem;
  padding-left: 0.75rem;
  background-color: #edf1f7;
  position: sticky;
  top: 5rem;
  list-style: none;
  min-width: fit-content;
  height: fit-content;
}

.help-title {
  color: #8a8b91;
  margin-left: 0.5rem;
  padding: 1.25rem 1rem;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
}

.help-title:hover {
  font-weight: 700;
  color: black;
}

.help-title.active {
  background-color: white;
}

.help-title-link {
  margin-left: 2.5rem;
  text-decoration: none;
  color: inherit;
}

.help-title-link.active-link {
  font-weight: 700;
  color: black;
}

.help-faq-section {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 1rem;
}
